/* container */
* {
  padding: 0;
  margin: auto;
}

.container {
  background-color: darkgreen;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: initial;
  height: 100vh;
}
.container__title {
  color: cyan;
  font-size: 40px;
}
.container__icon {
  width: 45px;
  color: black;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intronumber {
  color: red;
  font-size: 20px;
  font-weight: bold;
}
.intronumberInput {
  font-size: 20px;
  text-align: center;
  width: 40%;
  height: 40px;
  margin: 18px;
  border: cyan solid;
}

.button {
  width: 30%;
  height: 30px;
  padding: 2px 10px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  background-color: cyan;
}
.text-test {
  text-align: center;
  font-size: 20px;
  margin: 15px;
}
.paragraph-test {
  font-size: 15px;
  text-align: center;
}
.number-test {
  font-size: 15px;
  text-align: center;
}

.try {
  color: orangered;
  font-size: 45px;
}
.winner {
  color: fuchsia;
  font-size: 45px;
}
@media all and (min-width: 768px) {
  .intronumber {
    font-size: 25px;
  }
  .intronumberInput {
    font-size: 25px;
  }
}
